@charset "utf-8";

.form {
    display: block;
}

.title {
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 0;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #dcdcdc ;
}