@charset "utf-8";
@import '../../css/common'; 

.fbody {
    margin-bottom: 10px;
    position: relative;
}

.cardbox {
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 0px !important;
  }
  
  /* ------------------------------- */
  /* Cardbox Heading
  ---------------------------------- */
  .cardbox {
    padding: 16px;
    margin: 0;
  }

.cardbox-heading {
    padding: 0px 5px;
    margin: 0;
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #FFEFD5; */
}

.cardbox .btn-flat.btn-flat-icon {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    color: #fff !important;
    background: #b5b6b6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardbox .float-right .dropdown-menu{
    position: relative;
    left: 13px !important;  
}
  .cardbox .float-right a:hover{
    background: #f4f4f4 !important;	
  }
  .cardbox .float-right a.dropdown-item {
    display: block;
    width: 100%;
    padding: 4px 0px 4px 10px;
    clear: both;
    font-weight: 400;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px !important;
    color: #848484;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
  }
  
  /* ------------------------------- */
  /* Media Section
  ---------------------------------- */
  .fimg {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 70%;
} 

.mr-3{
    margin-right: 1rem !important;
}

.fimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.media-body {
    z-index: auto;
    -ms-flex: 1;
    flex: 1;
    padding: .4rem !important;
    margin-left: 5px;
}
.name, .time{
    z-index: 10;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500 !important;
    color: #88898a;
}

.name {
    font-size: 14px;
}

.time {
    font-size: 10px;
}

/* ------------------------------- */
/* Cardbox Item
  ---------------------------------- */
.cardbox .cardbox-item {
    position: relative;
    display: block;
}

.ffimg img{
    z-index: initial;
    padding: 0px;
    width: 100vw;
    height: 100vw;
    object-fit: contain;
}

// .ffimg img{
//     width: 100%;
//     height: 100%;
//     object-fit: contain;
// }

.cardbox-item div {
  padding: 10px 10px;
  font-size: 14px;
  font-family: 'Nanum Gothic', sans-serif;
}

  
  
  /* ------------------------------- */
  /* Cardbox Base
  ---------------------------------- */
.cardbox-base{
    display: flex;
    border-bottom: 1px solid #f4f4f4;
    justify-content: space-between;
    color: #ff8f00;
    border-top: 1px solid #dcdcdc;
}

.likebox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 8px;
}

/* .likebox div {
  margin-right: 12px;
} */

.likebox p {
    margin-left: 5px;
    margin-right: 12px;
    margin-bottom: 0px;
    font-size: 14px;
    color: grey;
}

.sharebox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.sharebox div {
    margin-left: 12px;
}







