@charset "utf-8";
@import '../../css/common'; 
@import '../mixin';

.mainfeed {
	margin: 0 auto;
  margin-top: 15px;
}

@include mobile {
  .mainfeed {
    width: 100vw;
  }
}

@include tablet {
  .mainfeed {
    width: 70vw;
  }
}

@include desktop {
  .mainfeed {
    width: 40vw;
  }
}